################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Solution 
*.suo
.vs
.vscode
/.vs
/.vscode
/.vs/**/*
/.vscode/**/*
**/.vs
**/.vscode
**/.vs/**/*
**/.vscode/**/*
/packages
*.xproj.user

# directories vs
**/bin
bin
**/obj/
**/obj/Debug
**/v14

# other directories 
**/publish
publish

